﻿



@{
    ViewData["Title"] = "Category";
}


    <section class="section">
        <div class="section-header">
            <h1>Dashboard</h1>
            
        </div>
        <div class="section-body">
            <h2 class="section-title">Dashboard</h2>
            <p class="section-lead"> Manage Your Account</p>
            <div class="card">
               
                <div class="card-body">
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success alert-dismissible show fade">
                            <div class="alert-body">
                                <button class="close" data-dismiss="alert">
                                    <span>×</span>
                                </button>
                                @TempData["Success"]
                            </div>
                        </div>
                    }
                    else if (TempData["Error"] != null)
                    {
                        <div class="alert alert-dark alert-dismissible show fade">
                            <div class="alert-body">
                                <button class="close" data-dismiss="alert">
                                    <span>×</span>
                                </button>
                                @TempData["Error"]
                            </div>
                        </div>
                    }

                  



                </div>
            </div>
        </div>
    </section>
@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
             $('.table').on('click', '.delete', function (e, data) {
                 if (!data) {
                     handleDelete(e, 1);
                 } else {
                     window.location = $(this).attr('href');
                 }
             });
         });
         function handleDelete(e, stop) {
             if (stop) {
                 e.preventDefault();
                 swal({
                     title: "Are you sure?",
                     text: "You will not be able to recover it again!",
                     icon: "warning",
                     buttons: true,
                     dangerMode: true,
                     closeOnConfirm: false
                 }).then((willDelete) => {
                     if (willDelete) {
                        $(e.target).trigger('click', {});
                     } else {
                     }
                 });
             }
         };
    </script>
}

