﻿

@model NergyCertificate.Framework.Domain.Course

@{
    ViewData["Title"] = "Courses";
}


<section class="section">
    <div class="section-header">
        <h1>Courses</h1>

    </div>
    <div class="section-body">
        <h2 class="section-title">Courses</h2>
        <p class="section-lead"> Edit Courses</p>
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="card">

                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <input type="hidden" asp-for="@Model.CourseId" />
                        <input type="hidden" asp-for="@Model.BatchId" />
                        <div class="form-group col-md-4">
                            <label asp-for="CourseName" class="control-label"></label>
                            <input asp-for="CourseName" class="form-control" />
                            <span asp-validation-for="CourseName" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="CourseDescription" class="control-label"></label>
                            <input asp-for="CourseDescription" class="form-control" />
                            <span asp-validation-for="CourseDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-whitesmoke">
                    <input type="submit" value="Update" class="btn btn-primary float-left" />
                </div>
            </div>
        </form>
    </div>
</section>


