﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title> Nergy360|Certificate</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/theme/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/theme/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/theme/modules/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="~/theme/modules/weather-icon/css/weather-icons.min.css">
    <link rel="stylesheet" href="~/theme/modules/weather-icon/css/weather-icons-wind.min.css">
    <link rel="stylesheet" href="@Url.Content("~/theme/modules/summernote/summernote-bs4.css")">
    <link rel="stylesheet" href="~/theme/modules/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/theme/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/theme/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">
    <link rel="stylesheet" href="~/theme/modules/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
    <link rel="stylesheet" href="~/theme/modules/izitoast/css/iziToast.min.css" />
    @RenderSection("head", false)
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/theme/css/style.css">
    <link rel="stylesheet" href="~/theme/css/components.css">
    <link rel="stylesheet" href="~/css/site.css" />
   
</head>

<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                    </ul>
                   
                </form>
                <ul class="navbar-nav navbar-right">
                   
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="~/theme/img/avatar/avatar-1.png" class="rounded-circle mr-1">
                            <div class="d-sm-none d-lg-inline-block">Hi, Name</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-title">Logged in 5 min ago</div>
                            <a asp-action="profile" asp-controller="users" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Profile
                            </a>
                            <a asp-action="change-password" asp-controller="users" class="dropdown-item has-icon">
                                <i class="fas fa-lock"></i> Change password
                            </a>
                            <div class="dropdown-divider"></div>
                            <a asp-action="logout" asp-controller="auth" asp-area="admin" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <img src="~/logo_black.png" height="30" />
                        @*<a href="/">Nergy360</a>*@
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <img src="~/logo_only_black.png" height="30" />
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Dashboard</li>
                        <li class="dropdown">
                            <a asp-action="index" asp-controller="home" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
                        </li>
                        <li class="dropdown">
                            <a asp-action="index" asp-controller="Batch" class="nav-link "><i class="fas fa-file-invoice"></i> <span>Batches</span></a>

                        </li>
                        <li class="dropdown">
                            <a asp-action="index" asp-controller="Course" class="nav-link "><i class="fas fa-file-invoice"></i> <span>Courses</span></a>

                        </li>
                        <li class="dropdown">
                            <a asp-action="index" asp-controller="Student" class="nav-link "><i class="fas fa-file-invoice"></i> <span>Students</span></a>

                        </li>
                        <li class="dropdown">
                            <a asp-action="AddStudentIndex" asp-controller="Student" class="nav-link "><i class="fas fa-file-invoice"></i> <span>Add Students</span></a>

                        </li>
                        <li class="dropdown">
                            <a asp-action="index" asp-controller="home" class="nav-link has-dropdown"><i class="fas fa-file-invoice"></i> <span>Generate Certificate</span></a>

                        </li>

                    </ul>

                </aside>
            </div>



            <!-- Main Content -->
            <div class="main-content">
                @RenderBody()
            </div>

            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2019
                </div>
                <div class="footer-right">

                </div>
            </footer>
        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="~/theme/modules/jquery.min.js"></script>
    <script src="~/theme/modules/popper.js"></script>
    <script src="~/theme/modules/tooltip.js"></script>
    <script src="~/theme/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/theme/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/theme/modules/moment.min.js"></script>
    <script src="~/theme/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="~/theme/modules/simple-weather/jquery.simpleWeather.min.js"></script>
    <script src="~/theme/modules/chart.min.js"></script>
    <script src="~/theme/modules/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="~/theme/modules/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="@Url.Content("~/theme/modules/summernote/summernote-bs4.js")"></script>
    <script src="~/theme/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>
    <script src="~/theme/modules/datatables/datatables.min.js"></script>
    <script src="~/theme/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/theme/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
    <script src="~/theme/modules/sweetalert/sweetalert.min.js"></script>
    <script src="~/theme/modules/select2/dist/js/select2.min.js"></script>
    <script src="~/lib/waitMe/waitMe.min.js"></script>
    <script src="~/theme/modules/izitoast/js/iziToast.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="~/theme/js/page/index-0.js"></script>

    <!-- Template JS File -->
    <script src="~/theme/js/scripts.js"></script>
    <script src="~/theme/js/custom.js"></script>

    <!--Validation-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#table').DataTable();
            $('.select2').select2();
            $('.summernote').summernote({
                dialogsInBody: true,
                minHeight: 250
            });
            $('div.note-group-select-from-files').remove();
        });
    </script>

    @RenderSection("Scripts", required: false)
    <script src="~/js/site.js"></script>
</body>
</html>
