﻿

@model NergyCertificate.Framework.Domain.Student

@{
    ViewData["Title"] = "Students";
}


<section class="section">
    <div class="section-header">
        <h1>Students</h1>

    </div>
    <div class="section-body">
        <h2 class="section-title">Students</h2>
        <p class="section-lead"> Create Students</p>
        <form asp-action="AddStudentForm" enctype="multipart/form-data">
            <div class="card">

                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <input type="hidden" asp-for="CourseId" value="@ViewBag.Course_Id"/>
                        <div class="form-group col-md-4">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4l">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-whitesmoke">
                    <input type="submit" value="Create" class="btn btn-primary float-left" />
                </div>
            </div>
        </form>
    </div>
</section>


