﻿
@model IEnumerable<NergyCertificate.Framework.Domain.Batch>

@{
    ViewData["Title"] = "AddStudentIndex";
}



<section class="section">
    <div class="section-header">
        <h1>Courses</h1>

    </div>
    <div class="section-body">
        <h2 class="section-title">Add Students</h2>
        <p class="section-lead"> Select courses to add Students </p>

        <div class="card">

            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @foreach (var batchitem in Model)
                {
                    <div class="row">
                        <h4>@Html.DisplayFor(c => batchitem.BatchName)</h4>
                    </div>

                    <div class="row">
                        @foreach (var item in batchitem.Courses)// courses in the batch 1
                        {


                            @if (item.BatchId == batchitem.BatchId)
                            {
                                <div class="card ml-1">
                                    <a asp-action="AddStudentForm" asp-controller="Student" asp-route-id="@item.CourseId" class="btn btn-sq-lg btn-primary">
                                        <i class="fa fa-graduation-cap fa-3x"></i><br />
                                        @item.CourseName
                                    </a>
                                </div>
                            }


                        }
                    </div>


                        }






                    </div>

        </div>

    </div>

</section>




