﻿

@model IEnumerable<NergyCertificate.Framework.Domain.Student>

@{
    ViewData["Title"] = "Students";
}


<section class="section">
    <div class="section-header">
        <h1>Students</h1>

    </div>
    <div class="section-body">
        <h2 class="section-title">Students</h2>
        <p class="section-lead"> Manage Students</p>
        <div class="card">

            <div class="card-body">
                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success alert-dismissible show fade">
                        <div class="alert-body">
                            <button class="close" data-dismiss="alert">
                                <span>×</span>
                            </button>
                            @TempData["Success"]
                        </div>
                    </div>
                }
                else if (TempData["Error"] != null)
                {
                    <div class="alert alert-dark alert-dismissible show fade">
                        <div class="alert-body">
                            <button class="close" data-dismiss="alert">
                                <span>×</span>
                            </button>
                            @TempData["Error"]
                        </div>
                    </div>
                }

                

                <div class="table-responsive">
                    <table class="table table-striped" width="100%" id="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Course.CourseName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Course.Batch.BatchName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Course.Batch.User.Name)
                                </th>



                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(c => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(c => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(c => item.Course.CourseName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Course.Batch.BatchName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Course.Batch.User.Name)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Student" class="btn btn-outline-primary" asp-route-id="@item.StudentId">Edit</a>

                                    <a asp-action="Delete" asp-controller="Student" class="btn btn-outline-danger delete" asp-route-id="@item.StudentId">Delete</a>
                                </td>


                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
             $('.table').on('click', '.delete', function (e, data) {
                 if (!data) {
                     handleDelete(e, 1);
                 } else {
                     window.location = $(this).attr('href');
                 }
             });
         });
         function handleDelete(e, stop) {
             if (stop) {
                 e.preventDefault();
                 swal({
                     title: "Are you sure?",
                     text: "You will not be able to recover it again!",
                     icon: "warning",
                     buttons: true,
                     dangerMode: true,
                     closeOnConfirm: false
                 }).then((willDelete) => {
                     if (willDelete) {
                        $(e.target).trigger('click', {});
                     } else {
                     }
                 });
             }
         };
    </script>
}

